

#imagem-animal {
    width: 300px;
    height: 200px;
    
}

.divisao {
    
    border-style: groove;
    border-width: 2px;
    border-color: #e0e0e0;
    padding: 5px;
    
}


#pagina {
    width: 300px;  
    box-shadow: 7px 7px #d0d0d0;
}


#curiosidade-animal {
    font-style: italic;
}




ul {
    list-style-type : none;
    margin: 0;
    padding: 0;
}
.titulo-item-lista {
    font-weight: bold;
}
